<div class="dashboardable-side-menu col-md-2">
  <div class="side-menu-header">
    Here comes something
  </div>
  <ul class="side-menu-list">
    <li class="side-menu-item">Item</li>
    <li class="side-menu-item">Item</li>
    <li class="side-menu-item">Item</li>
    <li class="side-menu-item">Item</li>
    <li class="side-menu-item">Item</li>
  </ul>
</div>

{{yield}}
