body {
  min-width: 1140px;
  overflow: hidden;
}
h1 {
  margin: 0px;
}
.dashboardable-side-menu {
  transition: all 0.5s;
  background-color: #212121;
  background-image: url('/assets/images/noise.png');
  width: 225px;
  border-right: 10px solid #B9B9B9;
  height: 100%;
  position: absolute;
}
@media (max-width: 560px) {
  .dashboardable-side-menu {
    transition: all 0.5s;
    display: none;
  }
}
.dashboardable-side-menu .side-menu-header {
  background-image: url('/assets/images/noise.png');
  font-family: sans-serif;
  height: 100px;
  background-color: #1c1c1c;
  color: #ededed;
}
.dashboardable-side-menu .side-menu-header .title {
  text-align: center;
  padding-top: 15px;
  height: 70px;
}
.dashboardable-side-menu .side-menu-header .title h4 {
  display: block;
}
.dashboardable-side-menu .side-menu-header .title i {
  font-size: 40px;
}
.dashboardable-side-menu .side-menu-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.dashboardable-side-menu .side-menu-list .side-menu-item {
  color: #ededed;
  font-family: sans-serif;
  transition: all 0.5s;
  font-size: 18px;
  text-indent: 10px;
  cursor: pointer;
}
.dashboardable-side-menu .side-menu-list .side-menu-item.large {
  font-size: 22px;
  line-height: 30px;
  height: 30px;
  background-color: #282828;
  background-image: url('/assets/images/noise.png');
}
.dashboardable-side-menu .side-menu-list .side-menu-item.active {
  border-right: 5px solid #B9B9B9;
}
.dashboardable-side-menu .side-menu-list .side-menu-item.active:hover {
  border-right: 8px solid #B9B9B9;
  background-position-x: -3px;
}
.dashboardable-side-menu .side-menu-list .side-menu-item:before {
  content: "\f067";
  font-size: 15px;
  margin-right: 5px;
  font-family: "FontAwesome";
}
.dashboardable-side-menu .side-menu-list .side-menu-item:hover {
  background-image: url('/assets/images/noise.png');
  background-position-x: -5px;
  background-color: #171717;
  color: #cfcfcf;
  text-indent: 8px;
  border-right: 5px solid #B9B9B9;
}
.dashboardable-dashboard-container {
  background-color: #F3F3F4;
  margin-left: 225px;
  width: calc(100% - 225px);
  height: 100%;
  overflow: auto;
  position: absolute;
}
@media (max-width: 560px) {
  .dashboardable-dashboard-container {
    margin-left: 0px;
    border-left: 5px solid #B9B9B9;
    width: 100%;
  }
}
.dashboardable-card {
  background-image: url('/assets/images/black-noise.png');
  display: inline-block;
  width: calc((100% - 120px) / 3);
  margin: 10px 20px;
  background-color: #ffffff;
  border-bottom: 5px solid #D2D2D2;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
@media (max-width: 1229px) {
  .dashboardable-card {
    width: calc((100% - 80px) / 2);
  }
}
@media (max-width: 949px) {
  .dashboardable-card {
    width: calc(100% - 40px);
  }
}
.dashboardable-card h4 {
  font-size: 18px;
  font-weight: 200;
  margin: 0px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F3F3F4;
}
.dashboardable-card h4 i {
  float: right;
  margin-right: 10px;
}
.dashboardable-card h4 i:hover {
  color: #e81c1c;
}
.dashboardable-card h4.bar-chart:before {
  margin-right: 5px;
  font-family: "FontAwesome";
  content: "\f080";
}
.dashboardable-card h4.pie-chart:before {
  margin-right: 5px;
  font-family: "FontAwesome";
  content: "\f200";
}
.dashboardable-card.full-width {
  width: calc(100% - 40px);
}
.dashboardable-card .buttons {
  margin: 8px;
}
.dashboardable-card .buttons button {
  position: relative;
  margin: 2px;
  background-color: #949494;
  color: #ffffff;
  border: none;
  font: inherit;
  cursor: pointer;
  border-bottom: 5px solid #828282;
  border-radius: 2px;
}
.dashboardable-card .buttons button.btn-add-random {
  background-color: #008eb4;
  border-bottom: 5px solid #007b9c;
}
.dashboardable-card .buttons button.btn-add-random:before {
  font-family: "FontAwesome";
  content: "\f074";
  margin-right: 3px;
}
.dashboardable-card .buttons button.btn-add-random:hover {
  border-bottom: 4px solid #007b9c;
}
.dashboardable-card .buttons button.btn-add {
  background-color: #0ab400;
  border-bottom: 5px solid #0b9902;
}
.dashboardable-card .buttons button.btn-add:before {
  font-family: "FontAwesome";
  content: "\f067";
  margin-right: 3px;
}
.dashboardable-card .buttons button.btn-add:hover {
  border-bottom: 4px solid #0b9902;
}
.dashboardable-card .buttons button.btn-clear {
  background-color: #fe0404;
  border-bottom: 5px solid #cc0000;
}
.dashboardable-card .buttons button.btn-clear:before {
  font-family: "FontAwesome";
  content: "\f05e";
  margin-right: 3px;
}
.dashboardable-card .buttons button.btn-clear:hover {
  border-bottom: 4px solid #cc0000;
}
.dashboardable-card .buttons button:hover {
  border-bottom: 4px solid #828282;
  top: 1px;
}
.dashboardable-card .ember-chartnew {
  margin: 15px;
}
.dropdown-menu {
  position: absolute;
  top: 44px;
  left: 29px;
  border-radius: 2px;
  background-color: #F3F3F4;
  border: none;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
  padding: 0;
}
.dropdown-menu li div {
  cursor: pointer;
  padding-left: 5px;
  margin: 2px;
  border-radius: 2px;
  background-color: #dadada;
  border-bottom: 2px solid #cccccc;
  transition: all 0.5s;
}
.dropdown-menu li div i {
  margin-right: 5px;
}
.dropdown-menu li div:hover {
  background-color: #B9B9B9;
  border-bottom: 2px solid #939393;
}
/*# sourceMappingURL=/assets/dummy.css.map */