body {
  min-width: 1140px;
  overflow: hidden;
}
h1 {
  margin: 0px;
}
.dashboardable-side-menu {
  transition: all 0.5s;
  background-color: #212121;
  background-image: url('/assets/images/noise.png');
  width: 225px;
  border-right: 10px solid #11b8ff;
  height: 100%;
  position: absolute;
}
@media (max-width: 560px) {
  .dashboardable-side-menu {
    transition: all 0.5s;
    display: none;
  }
}
.dashboardable-side-menu .side-menu-header {
  background-image: url('/assets/images/noise.png');
  font-family: sans-serif;
  height: 100px;
  background-color: #1c1c1c;
  color: #ededed;
}
.dashboardable-side-menu .side-menu-header .title {
  text-align: center;
  padding-top: 15px;
  height: 70px;
}
.dashboardable-side-menu .side-menu-header .title h4 {
  display: block;
}
.dashboardable-side-menu .side-menu-header .title i {
  font-size: 40px;
}
.dashboardable-side-menu .side-menu-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.dashboardable-side-menu .side-menu-list .side-menu-item {
  color: #ededed;
  font-family: sans-serif;
  transition: all 0.5s;
  font-size: 18px;
  text-indent: 10px;
  cursor: pointer;
}
.dashboardable-side-menu .side-menu-list .side-menu-item.large {
  font-size: 22px;
  line-height: 30px;
  height: 30px;
  background-color: #282828;
  background-image: url('/assets/images/noise.png');
}
.dashboardable-side-menu .side-menu-list .side-menu-item.active {
  border-right: 5px solid #11b8ff;
}
.dashboardable-side-menu .side-menu-list .side-menu-item.active:hover {
  border-right: 8px solid #11b8ff;
  background-position-x: -3px;
}
.dashboardable-side-menu .side-menu-list .side-menu-item:before {
  content: "\f067";
  font-size: 15px;
  margin-right: 5px;
  font-family: "FontAwesome";
}
.dashboardable-side-menu .side-menu-list .side-menu-item:hover {
  background-image: url('/assets/images/noise.png');
  background-position-x: -5px;
  background-color: #171717;
  color: #cfcfcf;
  text-indent: 8px;
  border-right: 5px solid #11b8ff;
}
.dashboardable-dashboard-container {
  background-color: #F3F3F4;
  margin-left: 225px;
  width: calc(100% - 225px);
  height: 100%;
  overflow: auto;
  position: absolute;
}
@media (max-width: 560px) {
  .dashboardable-dashboard-container {
    margin-left: 0px;
    border-left: 5px solid #11b8ff;
    width: 100%;
  }
}
.dashboardable-card {
  background-image: url('/assets/images/black-noise.png');
  display: inline-block;
  width: 30%;
  margin: 1.60%;
  background-color: #ffffff;
  border-bottom: 5px solid #D2D2D2;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
@media (max-width: 1279px) {
  .dashboardable-card {
    width: 45%;
    margin: 2.5%;
  }
}
@media (max-width: 960px) {
  .dashboardable-card {
    width: 90%;
    margin: 5%;
  }
}
.dashboardable-card:hover {
  border-bottom: 5px solid #b5b5b5;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.28), 0 2px 2px 0 rgba(0, 0, 0, 0.13), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
}
.dashboardable-card h4 {
  font-size: 18px;
  font-weight: 200;
  margin: 0px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #F3F3F4;
}
.dashboardable-card h4.bar-chart:before {
  margin-right: 5px;
  font-family: "FontAwesome";
  content: "\f080";
}
.dashboardable-card h4.pie-chart:before {
  margin-right: 5px;
  font-family: "FontAwesome";
  content: "\f200";
}
.dashboardable-card .ember-chartnew {
  margin: 15px;
}
/*# sourceMappingURL=/assets/dummy.css.map */