<div class="dashboardable-side-menu">
  <div class="side-menu-header">
    <div class="title">
      <i class="fa fa-line-chart"></i>
      <h4>Dashboard</h4>
    </div>
  </div>
  <ul class="side-menu-list">
    <li class="side-menu-item large">Larger item</li>
    <li class="side-menu-item">item</li>
    <li class="side-menu-item">item</li>
    <li class="side-menu-item active">item</li>
    <li class="side-menu-item">item</li>
  </ul>
</div>
<!-- {{dashboardable-side-menu}} -->
<div class="dashboardable-dashboard-container">
  {{outlet}}
</div>
