<h5>these buttons' purpose is to demonstrate the modularity of the dashboard, they would not exist on the real application</h5>
<div class="buttons">
  <button type="button" name="button" {{action 'addComponent'}}>Add</button>
  <button type="button" name="button" {{action 'clearDashboard'}}>Clear</button>
</div>


{{#each dashboard.components as |item|}}
  {{#dashboardable-card classesToAdd=item.options.classesToAdd}}
    <h4 class="{{item.options.icon}}-chart">Lorem Ipsum</h4>
    {{component item.name options=item.options}}
  {{/dashboardable-card}}
{{/each}}
